{% extends 'base.html' %}

{% load static %}

{% block title %}
Профиль
{% endblock %}

{% block content %}
<main>
    <!-- Main content area for posts -->
    <div class="post_your">
        <h2>Ваш Пост</h2>
        <p>Содержание поста</p>
        <img src="{% static 'img/edit.png' %}" alt="Редактировать" class="edit-button">
    </div>

    <div class="post_another">
        <h2>Чужой Пост</h2>
        <p>Содержание поста</p>
        <img src="{% static 'img/like.png' %}" alt="Like" class="like-button">
    </div>
    <!-- Add more posts as needed -->
</main>
{% endblock %}